<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Discuss!</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://use.fontawesome.com/dbf80f9e94.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<body>
    <nav class="discuss-bg">
        <div class="nav-wrapper">
            <a href="/" style="padding-left: 10px; text-decoration: none;" class="brand-logo">Discuss</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/topics/new" class="btn grey-text text-darken-4 discuss-primary">New Topic</a></li>
                <li><a class="discuss-secondary btn grey-text text-darken-4">Login with Github</a></li>
            </ul>
        </div>
    </nav>
</br>
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <%
                info = get_flash(@conn, :info)
                error = get_flash(@conn, :error)
                %>
                <%= if info do %>
                    <div class="card-panel discuss-success" role="alert">
                        <span>
                            <strong>Success</strong><%= info %>
                        </span>
                    </div>
                <% end %>
                <%= if error do %>
                    <div class="card-panel discuss-error" role="alert">
                        <span>
                            <strong>Uh Oh!</strong><%= error %>
                        </span>
                    </div>
                <% end %>
            </div>
        </div>

        <main role="main">
            <%= render @view_module, @view_template, assigns %>
        </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
